@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background: #000;
  color: #fff;
  overflow-x: hidden;
  font-family: var(--font-poppins), sans-serif;
}

h1,
h2,
h3,
.logo-text {
  font-family: var(--font-cormorant), serif;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}